.root{
	--primary-color: #3e3552;
	--background-color: #EBEBEB;
	--body-color: #eff0f0;
}
body{
	background: #eff0f0;
}
.trHead{
	color: var(--primary-color); 
	font-size: 26px; 
	font-weight: 700 !important;
}
.alljBtn{
	color: var(--primary-color);
	background-color: #EBEBEB;
	font-size: 14px;
	font-weight: 500 !important;
	padding: 8px;
	border-radius: 4px;
	text-decoration: none !important;
	letter-spacing: 0.86px;
}
.alljBtn:hover{
	background-color: #3e3552;
	color: #fff !important;
	transition: all 0.3s ease-in-out;
}
.areCard{
	box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
    border-radius: 8px;
    flex: 0 0 384px;
    background-color: #fff;
    padding: 8px;
    flex-direction: column;
    display: flex;
    min-height: 235px !important;
    border: 1px solid #EFF0F0;
    position: relative;
}
.areCard:hover{
	border-bottom: 2.5px solid #D83F63;
	box-shadow: 0px 24px 16px -16px rgba(216, 63, 99, 0.16), 0px 0px 0px 1px #EFF0F0 inset, 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
}
.areHead{
	color: var(--primary-color);
	font-size: 19px;
    line-height: 21px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 750;
    margin-bottom: 10px;
    letter-spacing: 0.8px;
}
.areSpan{
	background-color: #eff0f0;
	border-radius: 8px;
    padding: 0px 8px;
    text-align: center;
    display: inline-flex;
    margin-bottom: 0;
    align-items: center;
    column-gap: 10px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}
.areSpanN{
	border-radius: 100px;
	background: #E8EEEC;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    color: #417565;
    width: fit-content;
    margin: 16px 0;
}
.viewBtn{
	color: var(--primary-color);
	background-color: transparent;
	border: 1px solid #3e3552;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 18px;
    height: 44px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
}
.viewBtn:hover{
	color: #fff !important;
	background-color: #D83F63;
}
.timeSpan{
	font-size: 13px;
}
.arrIcon{
	font-size: 13px;
}
.sidebar-left {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 40;
    /*overflow-y: auto; */
    padding-top: 15px;
    padding-bottom: 15px; 
    background-color: transparent; 
    z-index: 1000; 
}
.accordion-item{
    width: 370px !important;
	margin-bottom: 20px;
}
.accordion-button{
	border-radius: 5px !important;
	font-family: sans-serif;
	margin-bottom: 0;
    text-align: left;
    padding: 18px;
    font-size: 17px;
    font-weight: 800;
    color: #3e3552 !important;
    background-color: #eff0f0;
    outline: none !important;
}
.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed){
    color: none !important;
    background-color: #eff0f0;
    border-color: red !important;
}
.accordion-body{
    background-color: #eff0f0;
    border-radius: 0px !important;
    overflow-y: scroll;
    height: 300px;
    min-height: 235px;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scrollbar thumb */
  border-radius: 4px; /* rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* color of the scrollbar thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color of the scrollbar track */
  border-radius: 4px; /* rounded corners */
}
.accordUl{
    list-style: none;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 0;
    overflow: auto;
}
.categ{
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    position: relative;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categAnc{
    text-decoration: none;
    font-size: 17px;
    font-weight: 450;
    color: #3e3552;
    text-transform: lowercase;
    letter-spacing: 0.6px;
    text-transform: capitalize;
}
.categAnc:hover{
    color: #D83F63;
}
.categSp{
    color: #D83F63;
    font-size: 17px;
    font-weight: 650;
}

.sidebar {
    background-color: #f8f9fa; /* Sidebar background color */
    padding: 15px;
    border-right: 1px solid #dee2e6; /* Sidebar border */
    height: 100%; /* Full height */
    position: relative; /* Position relative for absolute positioning */
}
#filter-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

@media (min-width: 768px) {
    #filter-icon {
        display: none; /* Hide filter icon on medium and larger devices */
    }
}

.otherJobS {
    margin-top: 3px;
}
.otherH2{
    color: #3e3552;
    margin-bottom: 32px;
    font-size: 22px;
    font-weight: 750;
    line-height: 24px;
    margin-bottom: 24px;
    line-height: 46px;
}
.otherSp{
    color: #e37620;
}
.otherSp2{
    color: #3e3552;
    font-size: 14px;
}
.areP{
    color: #3e3552;
    font-size: 16.5px;
    font-weight: 450;
}
.areCard2{
    position: relative;
    box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
    border-radius: 8px;
    flex: 0 0 384px;
    background-color: #fff;
    padding: 8px;
    flex-direction: column;
    display: flex;
    min-height: 210px !important;
    border: 1px solid #EFF0F0;
    position: relative;
    margin-bottom: 10px;
}
.areCard2:hover{
    border: 2.5px solid #D83F63;
}

.areSpanDiv {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eff0f0;
    border-radius: 4px;
    padding: 6px 10px;
}

.areSpan2{
    padding: 0px 12px;
    text-align: center;
    display: inline-flex;
    margin-bottom: 0;
    align-items: center;
    column-gap: 10px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
}
.areHead2{
    color: var(--primary-color);
    font-size: 19px;
    line-height: 21px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 750;
    margin-bottom: 0px;
    letter-spacing: 0.8px;
}
.areHead2:hover{
    color: #D83F63;
}
.loadBtn{
    font-size: 18.5px;
    font-weight: 750;
    padding: 0 32px;
    height: 56px;
    line-height: 56px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    background-color: #D83F63;
    color: #fff !important;
}
.loadBtn:hover{
    background-color: #892e3c;
    cursor: pointer;
}
.dropdBtn{
    height: 56px;
    line-height: 54px;
    text-align: center;
    padding: 0px 2px;
    color: #fff !important;
    background: #D83F63;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
    text-align: center;
}
.dropdBtn:hover{
    background-color: #892e3c;
    cursor: pointer;   
}
button:focus:not(:focus-visible){
    background-color: #892e3c;
}
.dropdown-menu{
    width: 270px;
    padding: 0px !important;
    margin: 0px !important;
    margin-top: -5px !important;
    border-radius: 0px !important;
    background-color: #D83F63;
    color: #fff !important;
    overflow-y: scroll;
    height: 300px;
    min-height: 235px;
}
.dropdown-item{
    color: #fff !important;
    cursor: pointer;
    font-size: 13px;
    font-weight: 450;

}
.dropdown-item:hover{
    cursor: pointer;
    color: #000 !important;
}
.jobInput{
    margin-top: 4px;
    height: 56px;
    line-height: 56px;
    padding: 0px 12px;
    background-color: #fff !important;
    border: 2px solid #a4acac;
}
.jobInputDiv{
    display: flex !important;
    align-items: center !important;
    justify-content: end !important;
}
.filBtn{
    font-size: 18.5px;
    font-weight: 750;
    padding: 0 40px;
    height: 56px;
    line-height: 56px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    background-color: #D83F63;
    color: #fff !important;
}
.filBtn:hover{
    background-color: #892e3c !important;
    cursor: pointer;
}
.head{
    background-color: #3e3552;
}
.detailH4{
    font-size: 20px;
    font-weight:700;
    line-height: 0.8px;
    color: #3e3552;
    margin-bottom: 30px;
}
.cardHead{
    background-color: #eff0f0 !important;
    padding: 28px;
}
.card-subtitle{
    padding: 12px;
}
.applyBtn{
    width: 100%;
    font-size: 18.5px;
    font-weight: 750;
    padding: 0 40px;
    height: 56px;
    line-height: 56px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    background-color: #D83F63;
    color: #fff !important;
    margin-top: 6px;
}
.applyBtn:hover{
    background-color: #892e3c !important;
    cursor: pointer;
}
.applyJobCard{
    box-shadow: 0px 8px 16px rgba(62, 53, 82, 0.1);
    border-radius: 8px;
}
.applyJobInput{
    padding: 12px;
}
.applyBtn2{
    width: 180px;
    font-size: 18.5px;
    font-weight: 750;
    padding: 0 40px;
    height: 56px;
    line-height: 56px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
    background-color: #D83F63;
    color: #fff !important;
    margin-top: 6px;
}
.applyBtn2:hover{
    background-color: #892e3c !important;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .dropdBtn{
        width: 300px !important;
    }
    .filBtn{
        width: 300px;
    }
    .jobInput{
        width: 300px !important;
    }
    .jobInputDiv{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
  .areCard2{
    min-height: 300px !important;
  }
}
