.root{
	--primary-color: #3e3552;
	--background-color: #EBEBEB;
	--body-color: #eff0f0;
}
body{
	background: #eff0f0;
}
.trHead{
	color: var(--primary-color); 
	font-size: 26px; 
	font-weight: 700 !important;
}
.alljBtn{
	color: var(--primary-color);
	background-color: #EBEBEB;
	font-size: 14px;
	font-weight: 500 !important;
	padding: 8px;
	border-radius: 4px;
	text-decoration: none !important;
	letter-spacing: 0.86px;
}
.alljBtn:hover{
	background-color: #3e3552;
	color: #fff !important;
	transition: all 0.3s ease-in-out;
}
.areCard{
	box-shadow: 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
    border-radius: 8px;
    flex: 0 0 384px;
    background-color: #fff;
    padding: 8px;
    flex-direction: column;
    display: flex;
    min-height: 235px !important;
    border: 1px solid #EFF0F0;
    position: relative;
}
.areCard:hover{
	border-bottom: 2.5px solid #D83F63;
	box-shadow: 0px 24px 16px -16px rgba(216, 63, 99, 0.16), 0px 0px 0px 1px #EFF0F0 inset, 0px 0px 8px 0px rgba(62, 53, 82, 0.16);
}
.areHead{
	color: var(--primary-color);
	font-size: 18px;
    line-height: 21px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 650;
    margin-bottom: 10px;
}
.areSpan{
	background-color: #eff0f0;
	border-radius: 8px;
    padding: 0px 8px;
    text-align: center;
    display: inline-flex;
    margin-bottom: 0;
    align-items: center;
    column-gap: 10px;
    height: 30px;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 10px;
}
.areSpanN{
	border-radius: 100px;
	background: #E8EEEC;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    color: #417565;
    width: fit-content;
    margin: 16px 0;
}
.viewBtn{
	color: var(--primary-color);
	background-color: transparent;
	border: 1px solid #3e3552;
    font-weight: 400;
    text-decoration: none;
    font-size: 18px;
    padding: 6px 18px;
    height: 44px;
    border-radius: 4px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    letter-spacing: 0.5px;
}
.viewBtn:hover{
	color: #fff !important;
	background-color: #D83F63;
}
.timeSpan{
	font-size: 13px;
}
.arrIcon{
	font-size: 13px;
}
.sidebar-left {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 40;
    overflow-y: auto; 
    padding-top: 15px;
    padding-bottom: 15px; 
    background-color: transparent; 
    z-index: 1000; 
}
.accordion-item{
	margin-bottom: 20px;
}
.accordion-button{
	border-radius: 5px !important;
	font-family: sans-serif;
	margin-bottom: 0;
    text-align: left;
    padding: 18px;
    font-size: 17px;
    font-weight: 800;
    color: #3e3552 !important;
    background-color: #eff0f0;
}
.accordion-body{
    background-color: #eff0f0;
    border-radius: 5px !important;
    overflow-y: scroll;
    height: 300px;
    min-height: 235px;
}
/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* width of vertical scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #ccc; /* color of the scrollbar thumb */
  border-radius: 4px; /* rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #999; /* color of the scrollbar thumb on hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color of the scrollbar track */
  border-radius: 4px; /* rounded corners */
}
.accordUl{
    list-style: none;
    padding-right: 10px;
    padding-left: 15px;
    margin-bottom: 0;
    overflow: auto;
}
.categ{
    border-bottom: 1px dotted rgba(0, 0, 0, .1);
    position: relative;
    padding: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.categAnc{
    text-decoration: none;
    font-size: 17px;
    color: #3e3552;
    text-transform: lowercase;
}
.categSp{
    font-size: 17px;
    font-weight: 600;
}

.otherJobS {
    margin-left: 25%;
}